.plans-container {
    padding: 20px;
    text-align: center;
  }
  
  .plans-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
  }
  
  .plan {
    border: 1px solid #d03333;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 calc(50% - 20px); 
    max-width: 300px; 
    transition: transform 0.3s;
  }
  
  .plan:hover {
    transform: translateY(-5px);
  }
  
  .highlight {
    border-color: rgb(165, 13, 13);
    background-color: #bf9201;
    font-weight: bold;
  }
  
  .select-button {
    background-color: #b02929;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .select-button:hover {
    background-color: #990000;
  }
  